<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>ABOUT ME </h1>
    <P>ksancwoncwancowvc wbnvuosduvwdbiondicfnqifcnionfwihd s v jcnascjakjcwuoxdqod</P>
</div>

<%- include('../partials/footer') %>